doctype html
block variables
html
    head
        title IOIO - #{title}
        script(src='/js/vendor/jquery.min.js')
        link(rel="stylesheet" href="/css/style.css")
        block scripts
    body
        block content
            p (tbd)
